{
  "extends": ["eslint:recommended", "airbnb-base", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": { "es6": true, "node": true, "commonjs": true },
  "rules": {
    "global-require": "off",
    "func-names": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "max-len": "off",
    "no-continue": "warn",
    "no-await-in-loop": "warn",
    "template-curly-spacing": "off",
    "indent": "off",
    "linebreak-style": 0,
    "object-curly-newline": 0,
    "arrow-parens": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "comma-dangle": "off",
    "no-else-return": "off",
    "consistent-return": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
