# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/scripts
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
/.gitignore
/.env


#IDE specific

/.vscode

# OS specific
.DS_Store

# Documentation
/docs
.DS_Storescripts/
.env
patch-mongo.js
skip-db.js
stub-db.js
stub-db-strong.js
scripts/
